@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  @apply font-serif;
}

.saab900 {
  @apply shadow-2xl max-w-(--breakpoint-sm) mx-auto;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  @apply w-full h-full bg-center bg-linear-to-br from-red-100 to-red-300;
}

.link {
  @apply text-red-700;
}

.link:hover {
  @apply text-red-500;
}

label {
  @apply block text-xs;
}

input[type=text], textarea {
  @apply border border-gray-500 p-1;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.button {
  @apply py-2 px-6 border border-gray-500 bg-white rounded-sm;
}

.button:hover {
  @apply cursor-pointer;
}

.button-red {
  @apply bg-red-800 text-white border-red-800;
}

.button-red:hover {
  @apply bg-red-700 text-white;
}

.button-red-hollow {
  @apply text-red-800 border-red-800;
}

.button-red-hollow:hover {
  @apply text-red-600 border-red-400;
}

.image-size--gallery {
  @apply ml-auto mr-auto;
  max-height: 70vh;
  max-width: 100%;
}

.image-size--gallery-pdf {
  @apply ml-auto mr-auto;
  height: 40vh;
}

.image-size--thumbnail {
  @apply max-w-full block;
  max-height: 10vh;
}

.image-size--thumbnail-pdf,
.image-size--original-pdf {
  @apply max-w-full block;
  height: 10vh;
}

.image-size--gallery-pdf {
  @apply bg-center;
}

.image-size--original {
}

.gallery-item {
  @apply my-24;
}

.icon--pdf {
  @apply bg-no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBkPSJNMzY5LjkgOTcuOUwyODYgMTRDMjc3IDUgMjY0LjgtLjEgMjUyLjEtLjFINDhDMjEuNSAwIDAgMjEuNSAwIDQ4djQxNmMwIDI2LjUgMjEuNSA0OCA0OCA0OGgyODhjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMTMxLjljMC0xMi43LTUuMS0yNS0xNC4xLTM0em0tMjIuNiAyMi43YzIuMSAyLjEgMy41IDQuNiA0LjIgNy40SDI1NlYzMi41YzIuOC43IDUuMyAyLjEgNy40IDQuMmw4My45IDgzLjl6TTMzNiA0ODBINDhjLTguOCAwLTE2LTcuMi0xNi0xNlY0OGMwLTguOCA3LjItMTYgMTYtMTZoMTc2djEwNGMwIDEzLjMgMTAuNyAyNCAyNCAyNGgxMDR2MzA0YzAgOC44LTcuMiAxNi0xNiAxNnptLTIyLTE3MS4yYy0xMy41LTEzLjMtNTUtOS4yLTczLjctNi43LTIxLjItMTIuOC0zNS4yLTMwLjQtNDUuMS01Ni42IDQuMy0xOCAxMi00Ny4yIDYuNC02NC45LTQuNC0yOC4xLTM5LjctMjQuNy00NC42LTYuOC01IDE4LjMtLjMgNDQuNCA4LjQgNzcuOC0xMS45IDI4LjQtMjkuNyA2Ni45LTQyLjEgODguNi0yMC44IDEwLjctNTQuMSAyOS4zLTU4LjggNTIuNC0zLjUgMTYuOCAyMi45IDM5LjQgNTMuMSA2LjQgOS4xLTkuOSAxOS4zLTI0LjggMzEuMy00NS41IDI2LjctOC44IDU2LjEtMTkuOCA4Mi0yNCAyMS45IDEyIDQ3LjYgMTkuOSA2NC42IDE5LjkgMjcuNy4xIDI4LjktMzAuMiAxOC41LTQwLjZ6bS0yMjkuMiA4OWM1LjktMTUuOSAyOC42LTM0LjQgMzUuNS00MC44LTIyLjEgMzUuMy0zNS41IDQxLjUtMzUuNSA0MC44ek0xODAgMTc1LjVjOC43IDAgNy44IDM3LjUgMi4xIDQ3LjYtNS4yLTE2LjMtNS00Ny42LTIuMS00Ny42em0tMjguNCAxNTkuM2MxMS4zLTE5LjggMjEtNDMuMiAyOC44LTYzLjcgOS43IDE3LjcgMjIuMSAzMS43IDM1LjEgNDEuNS0yNC4zIDQuNy00NS40IDE1LjEtNjMuOSAyMi4yem0xNTMuNC01LjlzLTUuOCA3LTQzLjUtOS4xYzQxLTMgNDcuNyA2LjQgNDMuNSA5LjF6Ii8+PC9zdmc+");
}

.icon--map {
  @apply bg-no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48ZGVmcz48c3R5bGU+LmZhLXNlY29uZGFyeXtvcGFjaXR5Oi40fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGQ9Ik01NTQuMDYgMTYxLjE2TDQxNiAyMjR2Mjg4bDEzOS44OC01NS45NUEzMiAzMiAwIDAgMCA1NzYgNDI2LjM0VjE3NmExNiAxNiAwIDAgMC0yMS45NC0xNC44NHpNMjAuMTIgMjE2QTMyIDMyIDAgMCAwIDAgMjQ1LjY2VjQ5NmExNiAxNiAwIDAgMCAyMS45NCAxNC44NkwxNjAgNDQ4VjIxNC45MmEzMDIuODQgMzAyLjg0IDAgMCAxLTIxLjI1LTQ2LjQyek0yODggMzU5LjY3YTQ3Ljc4IDQ3Ljc4IDAgMCAxLTM2LjUxLTE3QzIzMS44MyAzMTkuNTEgMjEwLjkyIDI5My4wOSAxOTIgMjY2djE4MmwxOTIgNjRWMjY2Yy0xOC45MiAyNy4wOS0zOS44MiA1My41Mi01OS40OSA3Ni43MkE0Ny44IDQ3LjggMCAwIDEgMjg4IDM1OS42N3oiIGNsYXNzPSJmYS1zZWNvbmRhcnkiLz48cGF0aCBkPSJNMjg4IDBhMTI2IDEyNiAwIDAgMC0xMjYgMTI2YzAgNTYuMjYgODIuMzUgMTU4LjggMTEzLjkgMTk2YTE1Ljc3IDE1Ljc3IDAgMCAwIDI0LjIgMEMzMzEuNjUgMjg0LjggNDE0IDE4Mi4yNiA0MTQgMTI2QTEyNiAxMjYgMCAwIDAgMjg4IDB6bTAgMTY4YTQyIDQyIDAgMSAxIDQyLTQyIDQyIDQyIDAgMCAxLTQyIDQyeiIgY2xhc3M9ImZhLXByaW1hcnkiLz48L3N2Zz4=");
}

.flash {
  @apply p-2 border border-transparent;
}

.flash-alert {
  @apply border-yellow-500;
}

.flash-success {
  @apply border-green-500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pagy {
/*
    --B: 1;
    --H: 0;
    --S: 45;
    --L: 60;
    --A: 1;
*/
    --spacing: 0.3rem;
    --padding: 0.75rem;
    --rounding: 0rem;
    --border-width: 0rem;
    --font-size: 1rem;
    --font-weight: 600;
    --line-height: 2;

/*
    --text:               hsl(var(--H) var(--S) calc(var(--L) - (30 * var(--B))));
    --text-hover:         hsl(var(--H) var(--S) calc(var(--L) - (33 * var(--B))));
    --text-current:       hsl(var(--H) var(--S) calc(100 * (var(--B) + 1)));
    --background:         hsl(var(--H) var(--S) calc(var(--L) + (30 * var(--B))));
    --background-hover:   hsl(var(--H) var(--S) calc(var(--L) + (20 * var(--B))));
    --background-current: hsl(var(--H) var(--S) var(--L));
    --background-input:   hsl(var(--H) var(--S) calc(var(--L) + (45 * var(--B))));
    --opacity: 1;
*/

    --text:               var(--color-red-800);
    --text-hover:         var(--color-red-800);
    --text-current:       #fff;
    --background:         var(--color-red-100);
    --background-hover:   var(--color-red-300);
    --background-current: var(--color-red-800);
    --background-input:   var(--color-red-800);
    --opacity: 1;

    @apply flex gap-x-[var(--spacing)] font-[var(--font-weight)]
    text-[length:var(--font-size)] text-[var(--text)]
    leading-[var(--line-height)];

    a:not([role="separator"]) { /* all but gaps */
      @apply block rounded-[var(--rounding)] px-[var(--padding)] py-[calc(var(--padding)/3)] bg-[var(--background)]
      border-solid  border-[var(--background-current)] border-[length:var(--border-width)] opacity-[var(--opacity)];
    }

    a[href]:hover { /* all links on hover */
      @apply bg-[var(--background-hover)] text-[var(--text-hover)];
    }

    a:not([href]) { /* all but links */
      @apply cursor-default
    }

    a[role="link"]:not([aria-current]) { /* disabled links */
      @apply opacity-[calc(var(--opacity)*.6)];
    }

    a[aria-current] {  /* current page */
      @apply bg-[var(--background-current)] text-[var(--text-current)];
    }

    label {
      @apply inline-block whitespace-nowrap rounded-[var(--rounding)] px-[var(--padding)]
      py-[calc(var(--padding)/3-var(--border-width))]
      bg-[var(--background)] border-solid border-[length:var(--border-width)] border-[var(--background-current)];

      input {
        @apply text-[var(--text)] text-[length:var(--font-size)] leading-[var(--line-height)] rounded-[calc(var(--rounding)/2)]
        font-[var(--font-weight)] bg-[var(--background-input)] border-[length:var(--border-width)] border-[var(--background-current)];
      }
    }
  }
}
