= form_with url: admin_session_path do |f|
  = label_tag :password, t('general.password'), class: 'block text-sm'
  = password_field_tag :password, nil, class: 'p-1 border border-gray-500 bg-gray-100'
  = submit_tag t('general.sign_in'), class: 'button button-red'
