= render "admin/uploads/statistics", upload_statistics: @upload_statistics

.flex.flex-col.gap-y-4
  - if @records.any?
    - @records.each do |record|
      = render "admin/uploads/show", record:
  - else
    = t("general.no_entries")
