.mb-16
  %h1.bg-red-800.text-white.text-right.pt-4.pb-2.px-4.tracking-widest.border-b-8.border-red-600.text-lg
    Saab 900

.my-16.mx-2
  = render 'uploads/new'

.my-24
  = render 'uploads/index', records: @records
