- if flash.any?
  .my-16.text-center
    - flash.each do |key, message|
      .flash{ class: "flash-#{key}" }= message

.my-16.text-center
  = link_to t('.upload_your_picture'), new_upload_path

.my-24
  = render 'uploads/index', records: @records
