- if record.file.content_type.start_with?('image')
  = image_tag record.file.url, class: "image-size--#{image_size}"
- else
  = link_to ' ', record.file.url, class: "icon--pdf image-size--#{image_size}-pdf"
