- if records.any?

  = raw pagy_nav(@pagy) if @pagy.pages > 1

  %ul
    - records.each do |record|
      %li.gallery-item= render 'uploads/file', record: record

- else
  .text-gray-500.text-center
    Noch keinen Inhalt...
