- if records.any?

  = raw pagy_nav(@pagy) if @pagy.pages > 1

  %ul.text-center
    - records.each do |record|
      %li.gallery-item
        = render 'uploads/file', record: record, image_size: :gallery

- else
  .text-gray-500.text-center
    = t('.nothing_there_yet')
